{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<link rel="stylesheet" type="text/css" href="/assets/css/register.css">
{{/section}}

<h3 class="container-custom pane-header">Đổi mật khẩu</h3>
<div class="container-custom white-background">
	<form action="" method="post">
		<div id="username-title">Mật khẩu hiện tại</div>
		<input name="cur_password" type="password" class="form-control box" placeholder="Vui lòng nhập mật khẩu hiện tại">
		<span id="username-message" class="error-message">{{wrong_password}}</span><br>
		<div id="password-title">Mật khẩu mới</div>
		<input name="new_password" type="password" class="form-control box" placeholder="Vui lòng nhập mật khẩu mới">
		<div id="password-title">Xác nhận mật khẩu mới</div>
		<input name="confirm_password" type="password" class="form-control box" placeholder="Vui lòng nhập lại mật khẩu mới">
		<span id="username-message" class="error-message">{{wrong_confirm}}</span><br>
		<button  id="btn-sign-in" type="submit" class="btn btn-success">Đổi mật khẩu</button>
	</form>
</div>